.bar {
	fill: steelblue;
	stroke: 1px;
	stroke-fill: white;
}

.bar:hover {
	fill: brown;

}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	fill: none;
	stroke: #000;
	/*display: none;*/
}















